APP_NAME=tma
POSTGRES_DB=tma_db
POSTGRES_USER=tma_user
POSTGRES_PASSWORD=tma_password
POSTGRES_PORT=5432

POSTGRES_TEST_DB=test_dev_db
POSTGRES_TEST_USER=test_dev_user
POSTGRES_TEST_PASSWORD=test_dev_password
POSTGRES_TEST_PORT=5435

# Production
API_WORKERS=4
